﻿
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<!--Technolgy-->
<div class="container_separat">
    <div class="container technology_icon">

        <!---technology first step-->

        <div class="row technology_separet">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/services/erp_solution.jpg"
                             alt="ovrosoft erp solution" />
                    </div>
                    <div class="col-md-8">
                        <h2><i class="fa fa-bar-chart"></i> ERP Solution</h2>

                        <p>
                            Ovrosoft is a leading global provider of IT systems management software. It is the only vendor
                            to provide a complete IT management solution.
                            <a href="/software/erp-solution"
                               class="btn btn-sm pull-right">Details &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/services/ovrosoft-hrm.jpg"
                             alt="ovrosoft hrm solution" />
                    </div>
                    <div class="col-md-8">
                        <h2><i class="fa fa-briefcase"></i> HRM Solution</h2>

                        <p>
                            Ovrosoft have policy of using Asp .Net for web developments
                            <a href="/software/human-resource-management"
                               class="btn btn-sm pull-right">Details &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/services/ovrosoft-export-import.jpg"
                             alt="export import solution" />
                    </div>
                    <div class="col-md-8">
                        <h2><i class="fa fa-arrows-alt"></i> Pharmacy Management Solution</h2>

                        <p>
                            Ovrosoft have policy of using Asp .Net for web developments <br>
                            <a href="/software/pharmacy-management-system" class="btn btn-sm pull-right">Details &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <!---technology second step-->

        <div class="row technology_separet">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/services/ovrosoft_andorid.jpg"
                             alt="ovrosoft android solution" />
                    </div>
                    <div class="col-md-8">
                        <h2><i class="fa fa-android"></i> Android Software</h2>

                        <p>
                            Ovrosoft is a leading global provider of IT systems management software. It is the only vendor
                            to provide a complete IT management solution.
                            <a href="/"
                               class="btn btn-sm pull-right">Details &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/services/ovrosoft_windows_phone.png"
                             alt="ovrosoft windows phone solution" />
                    </div>
                    <div class="col-md-8">
                        <h2><i class="fa fa-windows"></i> Windows Phone Software</h2>

                        <p>
                            Ovrosoft is a leading global provider of IT systems management software. It is the only vendor
                            to provide a complete IT management solution
                            <a href="/"
                               class="btn btn-sm pull-right">Details &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/services/ovrosoft_real_estate.jpg"
                             alt="real estate solution" />
                    </div>
                    <div class="col-md-8">
                        <h2><i class="fa fa-building-o"></i> Real Estate Solution</h2>

                        <p>
                            We are used MS SQL Server 2008 for most secured data base for web and desktop application
                            <a href="/software/real-estate-management" class="btn btn-sm pull-right">Details &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <!---technology second step-->

        <div class="row technology_separet">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/services/ovrosoft-school-management-system.jpg"
                             alt="school management system" />
                    </div>
                    <div class="col-md-8">
                        <h2><i class="fa fa-graduation-cap"></i> School Management</h2>

                        <p>
                            Ovrosoft is a leading global provider of IT systems management software. It is the only vendor
                            to provide a complete IT management solution.
                            <a href="/school-management-system"
                               class="btn btn-sm pull-right">Details &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-sm-4">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/services/ovrosoft-ecommerce.jpg"
                             alt="ovrosoft ecommerce" />
                    </div>
                    <div class="col-md-8">
                        <h2><i class="fa fa-shopping-cart"></i> E-Commerce</h2>

                        <p>
                            Ovrosoft is a leading global provider of IT systems management software. It is the only vendor
                            to provide a complete IT management solution.
                            <a href="/website/ecommerce"
                               class="btn btn-sm pull-right">Details &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/services/ovrosoft-point-of-sales.jpg"
                             alt="point of sales" />
                    </div>
                    <div class="col-md-8">
                        <h2><i class="fa fa-tachometer"></i> Point of Sales</h2>

                        <p>
                            Ovrosoft is a leading global provider of IT systems management software. It is the only vendor
                            to provide a complete IT management solution.
                            <a href="/software/point-of-sales"
                               class="btn btn-sm pull-right">Details &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <!---technology third step-->

        <div class="row technology_separet">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/services/hr-payroll.jpg"
                             alt="hr and payroll" />
                    </div>
                    <div class="col-md-8">
                        <h2><i class="fa fa-usd"></i> SEO</h2>

                        <p>
                            Ovrosoft is a leading global provider of IT systems management software. It is the only vendor
                            to provide a complete IT management solution.
                            <a href="/"
                               class="btn btn-sm pull-right">Details &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/services/ovrosoft-accounting-system.jpg"
                             alt="ovrosoft accounting system" />
                    </div>
                    <div class="col-md-8">
                        <h2><i class="fa fa-university"></i> Financial Accounting</h2>

                        <p>
                            Ovrosoft is a leading global provider of IT systems management software. It is the only vendor
                            to provide a complete IT management solution.
                            <a href="/software/accounting-software"
                               class="btn btn-sm pull-right">Details &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/services/ovrosoft-it-consulting.jpg"
                             alt="ovrosoft it consulting" />
                    </div>
                    <div class="col-md-8">
                        <h2><i class="fa fa-delicious"></i> IT Consulting</h2>

                        <p>
                            Ovrosoft is a leading global provider of IT systems management software. It is the only vendor
                            to provide a complete IT management solution.
                            <a href="/" class="btn btn-sm pull-right">Details &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <!---technology fourt step-->
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/services/ovrosoft-it-course.jpg"
                             alt="it course" />
                    </div>
                    <div class="col-md-8">
                        <h2><i class="fa fa-university"></i> IT Course</h2>

                        <p>
                            Ovrosoft is a leading global provider of IT systems management software. It is the only vendor
                            to provide a complete IT management solution.
                            <a href="/"
                               class="btn btn-sm pull-right">Details &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/services/ovrosoft-it-development.jpg"
                             alt="ovrosoft it developemnt" />
                    </div>
                    <div class="col-md-8">
                        <h2><i class="fa fa-codepen"></i> Software Development</h2>

                        <p>
                            Ovrosoft is a leading global provider of IT systems management software. It is the only vendor
                            to provide a complete IT management solution.
                            <a href="/" class="btn btn-sm pull-right">Details &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/images/services/ovrosoft-social-marketing.jpg"
                             alt="ewlink-social-marketing" />
                    </div>
                    <div class="col-md-8">
                        <h2><i class="fa fa-dribbble"></i> Social Marketing</h2>

                        <p>
                            Ovrosoft is a leading global provider of IT systems management software. It is the only vendor
                            to provide a complete IT management solution.
                            <a href="/" class="btn btn-sm pull-right">Details &raquo;</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




