*{outline:none}
.carousel-control{ background:none !important}
.glyphicon-chevron-left{ left:20px !important; font-size:17px !important; background-color:#0099CC !important; border-radius:50% !important; padding-top:7px}
.glyphicon-chevron-right{ right:20px !important; font-size:17px !important; background-color:#0099CC !important; border-radius:50% !important; padding-top:7px}
h1,h2,h3,h4,h5,h6,p,ul{ margin:0; padding:0}
.bg-color{ padding-top:70px; padding-bottom:30px}
.edeef0{ background-color:#edeef0}
.dddddd{ background-color:#dddddd}

/*Topslice part*/
.mobile{ color:#ddd; margin:0; font-size:15px; padding-top:7px; letter-spacing:.5px; font-weight:bold; font-family:Arial, Helvetica, sans-serif}
.slice ul li a{color:#eee; font-size:11px; font-family:Tahoma, Geneva, sans-serif; padding:8px 13px; float:left;  text-decoration:none}
.slice ul li a:hover{ color:#CCC}
.slice ul li a span{ font-size:9px;}

/*global styles*/
ul{list-style:none;}
p{ line-height:21px;}
.content-border{ border:1px solid #ddd; border-radius:3px; box-shadow:2px 2px 5px #eee}
.content_padding{ padding:10px}
.content_padding h2{ text-align:center}
.container_separat{ border-bottom:1px solid #ddd; padding-bottom:30px; margin-bottom:30px}
.pull-center{ text-align:center; margin-top:10px}
.container-lavel{ margin-top:20px}


/*Welcome styles*/
.welcome_message{ text-align:center; margin-top:10px; margin-bottom:30px}
.welcome_message h1{font-weight: 200; letter-spacing: -1px; margin:5px 0 10px; font-size:40px; font-family:inherit}
.welcome_message p{color: #999999; font-size: 20px;font-weight: 300;line-height: 1.25;margin-bottom: 40px;}

/*Welcome Top styles*/
.default_message{ text-align:center; padding:70px 0 40px; background-color:#ddd; margin-bottom:20px; border-bottom:1px solid #ccc; border-top:1px solid #ccc}
.default_message h1{ text-transform:uppercase; font-weight:bold; color:#0089d0; letter-spacing: -1px; margin:5px 0 10px; font-size:40px; font-family:inherit}
.default_message p{ font-size: 20px;font-weight: 300;line-height: 1.25;margin-bottom: 40px; color:#3651ac; margin-top:20px;}
.company-text{ color:#666 !important}


.project_history img, .work_history img, .technology_icon img{ width:100%; height:auto}
.technology_icon h2, .work_history h2, .project_history h2{ font-size:16px; color:#223d99; font-weight:bold; margin-bottom:10px; margin-top:15px}
.technology_icon h2 span{ font-size:14px;}
.technology_separet{ border-bottom:1px solid #ddd; margin-bottom:30px; margin-top:30px; padding-bottom:30px}
.project_separet{ padding-bottom:15px; margin-bottom:15px; overflow:hidden}
.project-header{ font-size:18px; border-bottom:1px solid #ddd; margin-bottom:20px}
.work_history  .col-sm-3{ margin-bottom:30px}

/*Services page*/
.ash-devide{ background-color:#f3f3f3}
.services{padding-bottom:20px; padding-top:20px}
.services img{ width:100%; height:auto;}
.services h2{ font-size:17px; color:#3651ac; font-weight:bold; padding-bottom:5px; border-bottom:1px solid #ddd; margin-bottom:15px}
.services h2 span{font-size:15px;}

/*Products style*/
.products_pack{ border-bottom:1px solid #cfcfcf; margin-top:20px; padding-bottom:30px}
.products-head{ margin-bottom:20px; margin-top:5px}
.products-head h2{ text-align:center; font-size:30px; color:#223d99; margin-bottom:15px}
.products-head p{ text-align:center; font-size:18px; color:#666}
.feature-list{ margin-bottom:10px }
.feature-list li{ background:#eee url(../images/site/right_bulltet.png) no-repeat left; font-size:12px; color:#444; float:left; width:32%; margin-bottom:4px; margin-left:3px; padding:2px 0px 2px 18px}
.product-box img{ width:100%; height:auto}
.product-name{ font-size:22px; color:#555; border-bottom:1px solid #ddd; padding-bottom:7px; margin-bottom:10px}
.product-more{ border-top:1px dotted #ccc; padding-top:10px; margin-top:20px}
.share-btn{ margin-top: 6px}
.share-btn a {display: block; float: left; padding: 4px 8px; text-decoration: none; font-size: 11px; color: #FFF; border-radius: 1px; margin-right: 5px;  }
.share-btn i{ border-right: 1px solid #ddd; padding-right: 5px; margin-right: 1px}
.share-btn:hover { color: #efefef; }
.share-btn .facebook { background-color: #3b5998; }
.share-btn .gplus { background-color: #dd4b39; }
.share-btn .twitter { background-color: #55acee;}
.share-btn .stumbleupon {background-color: #eb4924;}
.share-btn .linkedin {background-color: #0077b5;}

/*product page*/
.software-product-container{ margin: 30px 0}
.product-sep-title{ font-size: 42px; text-align: center; font-weight: bold; color: #666; margin-bottom: 50px }
.software-product-box{ text-align: center; margin-bottom: 60px}
.software-product-box h3{ font-size: 20px; margin: 10px 0; font-weight: bold; color: #666}
.software-product-box p{ margin-bottom: 10px}
.software-product-box p i{ font-size: 55px}
.software-product-box p .fa-university{ color: #0077b5}
.software-product-box p .software-product-box p .fa-bar-chart{ color: #0066CC}
.software-product-box p .fa-desktop{ color: #007bb6}
.software-product-box p .fa-codepen{ color: #0099CC}
.software-product-box p .fa-graduation-cap{ color: #01AEF2}
.software-product-box p .fa-briefcase{ color: #2e6da4}
.software-product-box p .fa-tachometer{ color: #286090}
.software-product-box p .fa-arrows-alt{ color: #00CC66}
.software-product-box p .fa-bar-chart{ color: #5cb85c}
.other-product-container{ padding:60px 0; background:url("../images/bg/home-biz-bg3.jpg");}
.other-product-container h2{ font-size: 45px; text-align: center; margin: 30px; font-weight: bold; color: #ddd;}
.other-product-container h3{ font-size: 20px; font-weight: bold; color: #ddd; margin-bottom: 10px}
.other-product-container ul li{ margin-bottom: 7px; font-size: 16px; color: #bbb}
.website-product-container{ padding: 30px 0; margin-top: 50px}
.web-icon-circle{ text-align: center; margin-bottom: 20px }
.web-icon-circle i{ font-size: 55px; background-color: #0066CC; width: 100px;padding: 23px; border-radius: 50%; color: #fff }
.web-product{ margin-bottom: 50px; }
.web-product h3{ font-size: 19px; margin-bottom: 5px}
.web-product p{ margin-top: 20px}
.mobile-product-container{ margin-top: 50px}
.mobile-tab-order{ margin: 50px 0 100px; text-align: center}
.mobile-tab-order h3{ font-size: 25px; font-weight: bold; color: #555; margin-bottom: 15px}
.mobile-tab-order p{ margin-top: 20px}
/*Product details styles*/
.pdetails-header{ text-align:center; font-size:31px; border-bottom:1px solid #ddd; margin-bottom:40px; margin-top:15px; padding-bottom:5px}
.pdetails-header a{ background-color:#0099CC; padding:5px 18px; color:#FFFFFF}
.feature-box{ background-color:#eee; margin-bottom:20px; text-align:center; padding:3px 3px 10px; border-radius:3px; border:1px solid #ddd}
.feature-box h2{padding:15px 0; color:#555; font-size:36px}
.feature-box h3{ font-size:18px; color:#0066CC; margin-bottom:10px}
.product-light h2{ text-align:center; font-size:32px; color:#444; margin-bottom:20px}
.product-light p{ text-align:center; margin-bottom:20px}
.product-review{ background:#fff url(../images/site/images.jpg); overflow:hidden; padding:40px 0}
.review-box{ background-color:#FFFFFF; padding:10px; border:1px solid #ccc}
.review-box h2{ font-size:20px; font-weight:bold; margin-bottom:10px; color:#555}
.review-box .my-rating{ margin-bottom:5px; font-size:14px; font-weight:bold}
.review-box .my-rating span{ font-size:13px}
.reviewer-image{ text-align:center; margin-top:10px; margin-bottom:15px}
.reviewer-image img{ width:90px; height:85px; border-radius:50%}
.rating-description{ font-size:13px; line-height:22px;}
.reviewer-description{ text-align:center; font-size:13px;}
.reviewer-description h3{ font-size:15px; font-weight:bold}
.reviewer-description p{ margin-top:5px; font-size:14px}
.product_back{background-color:#eee; overflow:hidden; padding:40px 0 80px;}
.product_back iframe{ border:1px solid #ddd}

/*footer styles*/
.bottom-dev{ background-color:#0089d0; text-align: center; padding: 10px 0 0; color: #fff}
.bottom-list-item{ margin-bottom: 10px}
.bottom-list-item p{ padding: 5px 0}
.bottom-list-item a i { font-size: 45px; color: #fff; }

.t_footer{ background-color:#23272c; color:#6F7982;}
.segment-1{padding-bottom:50px; margin-bottom:10px}
.segment-1 a{ color:#6F7989; font-family:"Lucida Sans Unicode", "MS Sans Serif"; font-size:12px; line-height:22px}
.segment-1 h2{ text-transform:uppercase; font-size:13px; color:#ccc; font-weight:700; font-family:"Lucida Sans Unicode", "MS Sans Serif"; margin-bottom:10px;}
.footer_logo{ height:auto; width:100%;}
.footer_separet{ border-bottom:1px solid #555; padding-bottom:30px; margin-top:30px}
.footer_heading{font-size:19px; text-transform:uppercase; color:#0099cc; font-weight:bold;letter-spacing:.5px; text-shadow:1px 1px .5px #555}
.bottom_contact h3{ color:#eee; font-size:17px; font-family:Verdana, Arial, Helvetica, sans-serif; letter-spacing:1px; margin-bottom:5px}
.bottom_contact p{ margin-bottom:20px; margin-top:20px}
.bottom_contact p img{ border-radius:5px; margin-right:2%}
.footer-reserve{ text-align:center; margin-top:20px; margin-bottom:20px}
.footer-reserve p{ margin-bottom:5px; color:#6F7982; font-size:12px}
.footer-reserve p a{ text-decoration:none; color:#6F798f; font-size:12px}
.footer-reserve p a:hover{ color:#0099aa}
.bottom-social-icon a i{ display: block; float: left; padding: 10px; margin-right: 5px; font-size: 19px; color: #FFF;}
.bottom-social-icon a i:hover{ color: #0066CC}

/*Portfolio styles*/
.portfolio-border{ border:1px solid #eee}
.pagination-box{ text-align: center; margin-bottom: 15px}
.view { overflow: hidden;  text-align: center;  cursor: default;  margin-bottom:30px;  /*
   background: #fff url(../images/bgimg.jpg) no-repeat center center;
   webkit-border-radius: 10px;
   border-radius: 10px;*/  }
.view-lavel{ position:relative}
.mask,.view .content {  height:100%;  width:100%;  position: absolute;  overflow: hidden;  top: 0;  left: 0;  }
.view img {  display: block;  position: relative;  width:100%;  height:auto;  }
.view h2 {  text-transform: uppercase;  color: #fff;  text-align: center;  position: relative;  background:#0089d0;  padding:15px 7px; font-size:15px;  }
.view .description {  font-family: Georgia, serif;  font-size: 14px;  position: relative;  color: #444;  padding: 30px 10px 20px;  text-align: center;  min-height:150px;  background-color:#fff;  margin-bottom:40px;  }
.view a.info {  display: inline-block;  text-decoration: none;  color: #fff;  padding:5px 10px;  border-radius:3px;  }
.view-lavel .mask  i {  font-size:11px;  }
.view-third img {  -webkit-transition: all 0.2s ease-in;  -moz-transition: all 0.2s ease-in;  -o-transition: all 0.2s ease-in;  -ms-transition: all 0.2s ease-in;  transition: all 0.2s ease-in;  }
.view-third .mask {  background-color: rgba(0,0,0,0.3);  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";  filter: alpha(opacity=0);  opacity: .1;  -webkit-transform: translate(460px, -100px) rotate(180deg);  -moz-transform: translate(460px, -100px) rotate(180deg);  -o-transform: translate(460px, -100px) rotate(180deg);  -ms-transform: translate(460px, -100px) rotate(180deg);  transform: translate(460px, -100px) rotate(180deg);  -webkit-transition: all 0.2s 0.4s ease-in-out;  -moz-transition: all 0.2s 0.4s ease-in-out;  -o-transition: all 0.2s 0.4s ease-in-out;  -ms-transition: all 0.2s 0.4s ease-in-out;  transition: all 0.2s 0.4s ease-in-out;  }
.view-third h2 {  -webkit-transform: translateY(-100px);  -moz-transform: translateY(-100px);  -o-transform: translateY(-100px);  -ms-transform: translateY(-100px);  transform: translateY(-100px);  -webkit-transition: all 0.2s ease-in-out;  -moz-transition: all 0.2s ease-in-out;  -ms-transition: all 0.2s ease-in-out;  -o-transition: all 0.2s ease-in-out;  transition: all 0.2s ease-in-out;  }
.view-third .description {  -webkit-transform: translateX(300px) rotate(90deg);  -moz-transform: translateX(300px) rotate(90deg);  -o-transform: translateX(300px) rotate(90deg);  -ms-transform: translateX(300px) rotate(90deg);  transform: translateX(300px) rotate(90deg);  -webkit-transition: all 0.2s ease-in-out;  -moz-transition: all 0.2s ease-in-out;  -o-transition: all 0.2s ease-in-out;  -ms-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;  }
.view-third a.info {  -webkit-transform: translateY(-200px);  -moz-transform: translateY(-200px);  -o-transform: translateY(-200px);  -ms-transform: translateY(-200px);  transform: translateY(-200px);  -webkit-transition: all 0.2s ease-in-out;  -moz-transition: all 0.2s ease-in-out;  -o-transition: all 0.2s ease-in-out;  -ms-transition: all 0.2s ease-in-out;  transition: all 0.2s ease-in-out;  }
.view-third:hover .mask {  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";  filter: alpha(opacity=100);  opacity: 1;  -webkit-transition-delay: 0s;  -moz-transition-delay: 0s;  -o-transition-delay: 0s;  -ms-transition-delay: 0s;  transition-delay: 0s;  -webkit-transform: translate(0px, 0px);  -moz-transform: translate(0px, 0px);  -o-transform: translate(0px, 0px);  -ms-transform: translate(0px, 0px);  transform: translate(0px, 0px);  }
.view-third:hover h2 {  -webkit-transform: translateY(0px);  -moz-transform: translateY(0px);  -o-transform: translateY(0px);  -ms-transform: translateY(0px);  transform: translateY(0px);  -webkit-transition-delay: 0.5s;  -moz-transition-delay: 0.5s;  -o-transition-delay: 0.5s;  -ms-transition-delay: 0.5s;  transition-delay: 0.5s;  }
.view-third:hover .description {  -webkit-transform: translateX(0px) rotate(0deg);  -moz-transform: translateX(0px) rotate(0deg);  -o-transform: translateX(0px) rotate(0deg);  -ms-transform: translateX(0px) rotate(0deg);  transform: translateX(0px) rotate(0deg);  -webkit-transition-delay: 0.4s;  -moz-transition-delay: 0.4s;  -o-transition-delay: 0.4s;  -ms-transition-delay: 0.4s;  transition-delay: 0.4s;  }
.view-third:hover a.info {  -webkit-transform: translateY(0px);  -moz-transform: translateY(0px);  -o-transform: translateY(0px);  -ms-transform: translateY(0px);  transform: translateY(0px);  -webkit-transition-delay: 0.3s;  -moz-transition-delay: 0.3s;  -o-transition-delay: 0.3s;  -ms-transition-delay: 0.3s;  transition-delay: 0.3s;  }

.portfolio-pan{ border:1px solid #ddd; overflow:hidden; margin-bottom:25px}
.portfolio-pan img{ width:100%}
.portfolio-pan h2{ font-size:19px; margin:20px 10px; font-weight:bold; color:#666}
.portfolio-pan h2 i{ font-size:15px}
.portfolio-pan .note{ margin:10px 5px}
.portfolio-pan .date{ float:left; margin:20px 0 10px 10px; font-weight:bold; color:#777 }
.portfolio-pan .btn-share{ margin:20px !important}
.portfolio-pan .btn{ float:right; margin:10px 10px 0 0; background-color:#66CC99; border:none !important; color:#fff}
		
/*contact us*/
.email-success{ position: absolute; top: 200px; text-align: center; width: 100%;  background-color: #ddd;}

/*Career styles*/
.career-grid h2{ font-size:22px; margin-bottom:5px}
.career-grid p{ margin-bottom:18px}


/*Media and event page*/
.news-box{ margin-bottom:20px}
.news-box h2{ font-size:18px; margin-bottom:10px}
.news-box img{ width:20%; height:auto; float:left; margin-right:10px; margin-bottom:10px}

/*About us container*/
.choose-us-box{ background-image: url(../images/bg/pc_bg.jpg); background-position: center;}
.choose-title{ padding: 30px 0; color: #fff; text-align: center}
.choose-title h2{font-size: 48px;font-weight: 800; color: #eee; margin: 35px 0 25px; line-height: 50px;}
.choose-title p{font-size: 16px;color: #eee; margin: 0 0 23px; line-height: 26px;}
.choose-title hr{width: 140px; height: 4px;  background: #ffff00;  border: none;  position: relative;  margin: 0 auto;}
.choose-box{ margin-bottom: 20px; color: #fff}
.choose-box h4{ color: #FFF; text-transform: uppercase; font-size: 16px; font-weight: 700; margin-right: 0; margin-top: 52px; margin-bottom: 15px;}
.choose-box h4 span{ color: #f4f4f4; margin-right: 10px}
.choose-box h4 i{ width: 50px; height: 50px; border-radius: 25px; background-color: #ff7200; border: 2px solid #FFF; font-size: 20px; text-align: center; line-height: 46px;  }
.choose-box p{margin: 0px; color: #f4f4f4; font-weight: 300; font-size: 13px; line-height: 21px;}
.choose-box-right h4 span{ margin-left: 10px}
.about-focus-container{ margin: 50px 0 20px}
.about-focus-container .focus-icon{ padding: 35px 0;}
.about-focus-container .focus-box{text-align: center; color: #eee; margin-bottom: 30px}
.about-focus-container .focus-box i{ font-size: 50px}
.about-focus-container .focus-box img{ width: 100%}
.about-focus-container .focus-box h3{ margin-bottom: 30px}
.about-focus-container .focus-perfection{ background-color: #ff5f00}
.about-focus-container .focus-in-time{ background-color: #ffc31d}
.about-focus-container .focus-no-stress{ background-color: #b4df56}
.about-focus-container .focus-finance{ background-color: #51c5eb}
.let-us-help-container{ margin: 50px 0}
.let-us-help-title p{ text-align: center; margin-bottom: 10px; font-size: 15px}
.let-us-help-title h2{ text-align: center; font-size: 25px; color: #555; margin-bottom: 50px}
.let-us-help-box{ margin-bottom: 70px}
.let-us-help-box h3{ font-size: 17px; color: #666; margin-bottom: 15px; }
.let-us-help-box h3 i{ font-size: 20px; padding: 10px; border-radius: 50%; margin-right:7px; background-color: #0066CC; color: #fff}
.let-us-help-box h3 .fa-headphones, .let-us-help-box h3 .fa-magic{ background-color:#ff5f00 }
.let-us-help-box h3 .fa-rocket, .let-us-help-box h3 .fa-th{ background-color:#b4df56 }
.let-us-help-box h3 .fa-shopping-cart, .let-us-help-box h3 .fa-cloud{ background-color:#51c5eb }

/*Contact page*/
.contact-form form input { font-size: 13px;font-weight: normal;color: #999;}
.contact-title h4 {  font-size: 16px;  color: #555;  text-transform: uppercase;  display: inline-block;}
.register-form label {  font-weight: 400;font-size: 14px;}
.register-form .form-group {  margin-bottom: 25px;}
.outer-bottom-small {  margin-bottom: 50px;}
.contact-info .contact-i {  height: 30px;  width: 32px;  text-align: center;  margin-right: 16px;  float: left;  padding-top: 5px;  font-size: 22px;}
.contact-i .fa-map-marker{ font-size: 22px}
.contact-i .fa-envelope{ font-size: 16px}
.contact-i .fa-skype{ font-size: 20px}
.contact-title h4 {  margin-bottom: 30px;}
.contact-info .address, .contact-info .phone-no, .skype { margin-bottom: 10px;}
.contact-info {  font-size: 13px; color: #666;}
.contact-skype{ margin-top: 10px}
.contact-map{ margin-bottom:40px; margin-top:40px}
.contact-map iframe {  height: 350px; width: 100%; border:1px solid #ccc}
.info-title span{ color:#FF0000}
#email-success i{ color: #009900}
#email-success h2{ font-size: 18px; color: #0089D0; margin-top: 10px; text-align: right}

/*software development*/
.speciality-box{ padding:50px 0;}
.speciality-description{margin:0 25%; margin-bottom:90px; font-size:16px; text-align:center; }
.speciality-box h1{ text-align:center; font-size:42px; font-weight:bold; color:#555; margin-bottom:30px}
.speciality .col-sm-4{ text-align:center;}
.speciality .col-sm-4 a{ padding:10px 45px; font-size:100px; border-radius:100%; text-decoration:none}
.speciality .col-sm-4 a:hover{ color:#666666}
.speciality .col-sm-4 p{ margin:10px 10%; margin-bottom:30px;}
.speciality .col-sm-4 h3{margin-top:70px; color:#003366; font-weight:bold; font-size:18px}
.speciality .description{ margin-top:20px}

.iphone-bg{ background: #000000 url(../images/site/pattern.png) repeat;}
.iphone{ text-align:center; background:url(../images/welcome/iphone.png) no-repeat 30px 30px; padding-top:50px; padding-bottom:60px}
.iphone img{ width:80%;}
.iphone-details{ text-align:center; color:#ddd; padding-top:70px}
.iphone-details h1{ font-size:45px; margin-bottom:10px}
.iphone-details p{ font-size:21px; margin-bottom:50px; }
.app-store a{ text-align:center; color:#ddd; font-size:17px; float:left; border:1px solid #ddd; border-radius:5px; width:100%; padding:15px 10px; text-decoration:none}
.app-store a:hover{ color:#888}
.app-store a span{ font-size:22px; font-weight:bold}
.more-app{ margin-top:50px} 
.iphone2{background:url(../images/welcome/iphone2.png) no-repeat center 80px; padding-top:50px; padding-bottom:10px}
.iphone2-box{ padding:50px 0 0}
.iphone2-title{ text-align:center; font-size:42px; color:#555; margin-bottom:60px; font-weight:bold}
.cycle-box{ margin-bottom:70px}
.cycle-box-right{ margin-top:80px; margin-left:30px}
.cycle-box h2{ font-size:20px; margin-bottom:5px; color:#365990; font-weight:bold}
.cycle-box h2 span{ background-color:#dc5562; padding:8px 11px; border-radius:100%; font-size:14px; color:#FFFFFF; margin-right:5px}
.cycle-box p{ font-size:15px; padding-left:40px; color:#363c52}
.software-tab{ margin:50px 0;}
.software-tab .tab-left{ border:1PX solid #ddd}
.software-tab .tab-left h2{ font-size:20px; font-weight:bold; text-transform:uppercase; color:#666; padding:10px; border-bottom:1px solid #ddd}
.software-tab .tab-left p{ padding:10px}
.software-tab .tab-left img{ float:left; width:40%; margin:0 15px 5px 0; border:1px solid #ddd}
.nav-tabs a{ text-transform:uppercase; font-weight:bold}
.tab-content{ border:1px solid #ddd; border-top:none; padding:10px}

/*top menu*/
.top_menu{ background-color:#0089d0;}
/*
.top-bar{ background: #f4f4f4; padding: 13px 0; border-bottom:1px solid #ddd}
.top_bar_list li{ margin-right:15px; float:left; border-right:1px solid #ccc; padding-right:15px;}
.top_bar_list li:last-child{ border-right:none}
.top_bar_list li a{ font-size:12px; color:#888888; text-decoration:none}
.top_bar_list li a:hover{ color:#0089D0}
.top_bar_list li a i{ font-size:11px}
.top_bar_list .select{color:#0089D0}
.top_bar_right{ float:right;}
*/
.header{ padding:15px 0}
.header_online{ margin-top:10px; float:left}
.header_mobile li{float:right; margin-left:15px; font-size:14px; color:#888888; font-weight:bold}
.header_mobile li:last-child{ border-right:none}
.header_mobile .fa-skype{ font-size: 16px}
.top_menu_list li a{float:left; padding:19px 30px; text-decoration:none; color:#FFFFFF; font-size:15px; font-weight:bold; text-transform:uppercase}
.top_menu_list li a:hover{ background-color:#0066CC}
.top_menu_list .select{ background-color:#0066CC}
.social_icon{ float:right; margin-top:5px}
.social_icon li {list-style-type: none; float: left;}
.social_icon li a i {background: #205D7A;color: #fff; width: 28px; height: 28px; border-radius: 20px; font-size: 16px; text-align: center; margin-left: 10px; padding-top: 18%; transition: all 0.2s ease-in-out;}
.social_icon .fa-facebook { background:#3b5998} 
.social_icon .fa-linkedin {background:#007bb6}
.social_icon .fa-twitter {background:#00aced}
.social_icon .google-plus {background:#CF3D2E}
.social_icon .fa-youtube-play{ background:#C52F30}
.social_icon .fa-skype{background-color:#01AEF2;}
.social_icon .fa-windows{background-color:#12B6F3;}
.social_icon .fa-android{background-color:#A5C63B;}
.social_icon li a i:hover {-webkit-transform: scale(1.1) rotate(360deg);-moz-transform: scale(1.1) rotate(360deg);-ms-transform: scale(1.1) rotate(360deg);-o-transform: scale(1.1) rotate(360deg);transform: scale(1.1) rotate(360deg);}

/*Login*/
input[type="text"],input[type="password"]{border:1px solid #ddd;outline:none}.login-image{text-align:center;margin-top:50px}.login-container{background-color:#fff;overflow:hidden;margin-bottom:50px;border:1px solid #ddd}.login-container h2{background-color:#6F87A3;color:#eee;font-size:15px;padding:7px}.login-container .login-box{overflow:hidden;padding:0 25px 50px}.login-box .input-group{margin-bottom:15px}.login-box h3{text-align:center;margin:20px 0}.login-box h3 span{color:#09C;font-size:45px}.login-box .forgot-hit-box a,.login-hit-box input[type="submit"]{float:left;width:100%;text-align:center;text-decoration:none;padding:6px;font-size:12px;color:#eee;margin-bottom:15px;border:none;border-radius:2px;outline:none}.login-box .forgot-hit-box a{background-color:#5cb3e0;margin-top:20px}.login-box .login-hit-box input[type="submit"]{background-color:#8095b4}.error_report{background-color:#D8302C;text-align:center;color:#fff;border-bottom:1px solid #ccc;padding:5px;font-size:12px}.login-copyright{text-align:center;margin-top:50px;font-size:12px;border-top:1px solid #ddd;padding-top:7px}

/*blog list*/
.blog-container{ padding: 20px 0}
.blog-box{ margin-bottom: 30px; border: 1px solid #dfdfdf; overflow: hidden; padding-bottom: 10px}
.blog-box img{ width: 100%}
.blog-box-container{ padding: 0 10px; overflow: hidden}
.blog-box h1{ font-size: 22px; font-weight: bold; text-transform: uppercase; margin: 15px 0 10px; color: #777}
.blog-box li{ list-style: none; display: inline; margin-right: 15px; color: #777; font-size: 13px}
.blog-box p{ margin: 20px 0}


.left-menu{ border: 1px solid #ddd; overflow: hidden; margin-bottom: 15px; padding-bottom: 10px}
.left-menu h2{ font-size: 15px; text-transform: uppercase; border-bottom: 1px solid #ddd; padding:7px 7px; color: #666; font-weight: bold; margin-bottom: 5px}
.tree, .tree ul {list-style:none;}
.tree ul {margin-left:1em; position:relative;}
.tree ul ul {margin-left:5px}
.tree ul:before {content:"";display:block;width:0;position:absolute;top:0;bottom:0;left:0;border-left:1px solid #ccc;}
.tree li {margin:3px 0px;padding:0 1.5em;line-height:2em;color:#555; position:relative;}
.tree li a{ text-decoration: none; font-size: 13px; color: #555}
.tree li i{ font-size: 13px; color: #777}
.tree li a i{ font-size: 12px}
.tree ul li:before {content:"";display:block;width:10px; height:0;border-top:1px solid #ccc;margin-top:-1px;position:absolute;top:1em; left:0;}
.tree li a:hover{ color: #0066CC}

.blog-tab .nav-tabs li a{ font-size: 12px !important;}
.small-blog-box{ margin-bottom: 20px; border-bottom: 1px solid #ddd}
.small-blog-box img{ width: 100%}
.small-blog-box h2{ font-size: 12px; line-height: 17px; font-weight: bold; text-transform: uppercase; margin: 10px 0 3px; color: #777}
.small-blog-box li{ list-style: none; display: inline; margin-right: 15px; color: #777; font-size: 11px}
.small-blog-box p{ margin: 10px 0; font-size: 12px}
.blog-more{  padding-top:1px;}

/*news page*/
.news-container{ padding: 25px 0}
.latest-news-box{ border: 1px solid #ddd; overflow: hidden}
.latest-news-box .main-news{ padding: 10px;  overflow: hidden}
.latest-news-box h1, .carousel-news h1{ font-size: 20px; color: #555; background-color: #eee; font-weight: bold; border-bottom: 1px solid #ddd; padding:4px}
.last-news-box img{ width: 100%;}
.last-news-box h2{ font-size: 16px; color: #555; font-weight: bold; margin:10px 0 5px}
.last-news-box p{ margin-top: 10px}
.last-news-box li, .news-slide li{ list-style: none; display: inline; margin-right: 15px; color: #777; font-size: 13px}
.news-slide{ margin-bottom: 10px; border-bottom: 1px solid #ddd; overflow: hidden; padding-bottom: 5px}
.news-slide li{ font-size: 12px}
.news-slide li .fa-calendar{ font-size:11px; margin-right: 2px }
.news-slide .slide_note{ clear: both; float: left}
.news-slide img{ width: 30%; float: left; margin: 0 10px 5px 0}
.carousel-news{ margin:20px 0; border: 1px solid #ddd;}
.carousel-news .carousel{ padding: 10px}
.carousel-news-box img{ width: 100%}
.carousel-news-box h4{ font-size: 13px; color: #555; font-weight: bold; margin: 10px 0}
.carousel-news-box li{ font-size: 12px}