﻿
@{
    ViewData["Title"] = "Erp";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="bg-color">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 product-light">
                <h2>Take ERP Solution</h2>
                <p>We set up a sample company called Craigs Design and Landscaping Services so you can see how works.</p>
                <p><img src="/images/products/accounting_light.png" alt="" /></p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>


<div class="product-review">
    <div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">

                    <div class="row">
                        @for (int i = 0; i <3; i++)
                        {<div class="col-sm-4">
                                <div class="review-box">
                                    <h2>Jonathon James</h2>
                                    <div class="my-rating">
                                        My Rating
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                    </div>
                                    <div class="rating-description">
                                        Never before has there been a good film portrayal of
                                        ancient
                                        Greece's favourite myth. So why would Hollywood start now? This latest attempt
                                        at
                                        bringing the son of Zeus to the big screen is brought to us by X-Men: The last
                                        Stand
                                        director Brett Ratner. If the name of the director wasn't enough to dissuade
                                    </div>
                                </div>
                                <div class="reviewer-image">
                                    <img src="/images/rating/user.jpg" alt="" />
                                </div>
                                <div class="reviewer-description">
                                    <h3>Revewier name</h3>
                                    <p>Reviewr designation</p>
                                </div>
                            </div>

                        }
                    </div>

                </div>
                <div class="item">
                    <div class="row">

                        @for (int i = 0; i <3; i++)
                        {<div class="col-sm-4">
                                <div class="review-box">
                                    <h2>Jonathon James</h2>
                                    <div class="my-rating">
                                        My Rating
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                        <span class="glyphicon glyphicon-star"></span>
                                    </div>
                                    <div class="rating-description">
                                        Never before has there been a good film portrayal of
                                        ancient
                                        Greece's favourite myth. So why would Hollywood start now? This latest attempt
                                        at
                                        bringing the son of Zeus to the big screen is brought to us by X-Men: The last
                                        Stand
                                        director Brett Ratner. If the name of the director wasn't enough to dissuade
                                    </div>
                                </div>
                                <div class="reviewer-image">
                                    <img src="/images/rating/user.jpg" alt="" />
                                </div>
                                <div class="reviewer-description">
                                    <h3>Revewier name</h3>

                                    <p>Reviewr designation</p>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
</div>


<!--Product video-->
<div class="bg-color product_back">
    <div class="container">
        <div class="row">
            <h1 class="pdetails-header">Product Video Demo</h1>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 product-light">
                <iframe width="100%" height="450px" src="https://www.youtube.com/embed/TSG-34oCydo" frameborder="0"
                        allowfullscreen></iframe>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>


