﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta property="og:site_name" content="Ovrosoft IT Solution">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="al:ios:url" content="">
    <meta property="al:android:url" content="">
    <meta property="al:web:url" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:url" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en">
    <meta name='robots' content='all' />
    <meta name="author" content="Ovrosoft Limited" />
    <title>Ovrosoft Limited | </title>

    <link rel="shortcut icon" href="/images/site/ovrosoft.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/parallax-slider.css">
    <link rel="stylesheet" href="/css/menu.css">
    <script src="/js/api_script.js"></script>

</head>
<body>

    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <ul class="top_bar_list">
                        <li>
                            <a href="/technology"><i class="fa fa-book"></i> Technology</a>
                        </li>

                        <li>
                            <a href="/portfolio"><i class="fa fa-picture-o"></i> Portfolio</a>
                        </li>

                        <li>
                            <a href="/company"><i class="fa fa-picture-o"></i> Company</a>
                        </li>

                        <li>
                            <a href="/aboutus"><i class="fa fa-external-link"></i> About Us</a>
                        </li>
                        <!--
                        <li><a href="/news"><i class="icon fa fa-user"></i> News</a></li>
                        -->
                        <li>
                            <a href="/blog"><i class="icon fa fa-user"></i> Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="top_bar_right header_mobile">
                        <li><i class="fa fa-phone"></i> 01710-156437</li>
                        <li><i class="fa fa-phone"></i> 01711-519594</li>
                        <li><i class="fa fa-skype"></i> ovrosoft</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="header">
        <div class="container">
            <div class="row">
               
                <div class="col-sm-6"><span style="font-size:26px; color:#0089d0; font-weight:bold; text-decoration:none"> OVRO<span style="color:#666666">SOFT</span></span></div>
                <div class="col-sm-6">
                    <ul class="social_icon">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/ovrosoft"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/company/ovrosoft-it-solution?trk=company_logo">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li><a target="_blank" href="https://twitter.com/Ovrosoft"><i class="fa fa-twitter"></i></a></li>
                        <li>
                            <a target="_blank" href="https://plus.google.com/b/106301683634504496142/+Ovrosoft/posts">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.youtube.com/channel/UCCpCsybKeT-x8ozlCx-rBMA">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="a2z">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="responsive-title">OVROSOFT</div>
                    <div class="a2z-mega-menu">
                        <ul class="nav-list">
                            <li class="hc-li float-left border-left text-center">
                                <a href="/">
                                    <i class="fa fa-home fa-i"></i>HOME
                                </a>
                            </li>
                            <li class="hc-li float-left border-left text-center">
                                <a href="/software">
                                    <i class="fa fa-camera fa-i"></i>SOFTWARE
                                </a>
                                <ul class="nav-submenu single-down text-left">
                                    <li>
                                        <a class="border-bottom border-left border-right"
                                           href="/software/erp-solution">
                                            <i class="fa fa-diamond"></i> ERP Solutions
                                        </a>
                                    </li>
                                    <li>
                                        <a class="border-bottom border-left border-right"
                                           href="/software/accounting-software">
                                            <i class="fa fa-university"></i> Accounting Solutions
                                        </a>
                                    </li>
                                    <li>
                                        <a class="border-bottom border-left border-right"
                                           href="/software/real-estate-management">
                                            <i class="fa fa-tachometer"></i> Real Estate Management
                                        </a>
                                    </li>
                                    <li>
                                        <a class="border-bottom border-left border-right"
                                           href="/software/point-of-sales">
                                            <i class="fa fa-life-ring"></i> Point of Sales
                                        </a>
                                    </li>
                                    <li>
                                        <a class="border-bottom border-left border-right"
                                           href="/software/school-management-system">
                                            <i class="fa fa-graduation-cap"></i> School Management
                                        </a>
                                    </li>
                                    <li>
                                        <a class="border-bottom border-left border-right"
                                           href="/software/pharmacy-management-system">
                                            <i class="fa fa-briefcase"></i> Pharmacy management
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="hc-li float-left border-left text-center">
                                <a href="/website">
                                    <i class="fa fa-camera fa-i"></i>WEBSITE
                                </a>
                                <ul class="nav-submenu single-down text-left">
                                    <li>
                                        <a class="border-bottom border-left border-right"
                                           href="/website/ecommerce">
                                            <i class="fa fa-shopping-basket"></i> Dynamic E-Commerce
                                        </a>
                                    </li>
                                    <li>
                                        <a class="border-bottom border-left border-right"
                                           href="/website/company">
                                            <i class="fa fa-tasks"></i> Corporate Website
                                        </a>
                                    </li>
                                    <li>
                                        <a class="border-bottom border-left border-right"
                                           href="/website/education">
                                            <i class="fa fa-book"></i>
                                            Academic Website
                                        </a>
                                    </li>
                                    <li>
                                        <a class="border-bottom border-left border-right"
                                           href="/website/news">
                                            <i class="fa fa-newspaper-o"></i>
                                            Magazine Website
                                        </a>
                                    </li>
                                    <li>
                                        <a class="border-bottom border-left border-right"
                                           href="/website/portfolio">
                                            <i class="fa fa-user"></i> Personal Portfolio
                                        </a>
                                    </li>
                                    <li>
                                        <a class="border-bottom border-left border-right"
                                           href="/">
                                            <i class="fa fa-building"></i> Static Website
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="hc-li float-left border-left text-center">
                                <a href="/mobile-apps">
                                    <i class="fa fa-camera fa-i"></i>APPLICATION
                                </a>
                                <ul class="nav-submenu single-down text-left">
                                    <li>
                                        <a class="border-bottom border-left border-right"
                                           href="/">
                                            <i class="fa fa-retweet"></i> Mobile Order System
                                        </a>
                                    </li>
                                    <li>
                                        <a class="border-bottom border-left border-right"
                                           href="/">
                                            <i class="fa fa-android"></i> Android Application
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="hc-li float-left border-left text-center">
                                <a href="/service">
                                    <i class="fa fa-camera fa-i"></i>SERVICES
                                </a>
                                <ul class="nav-submenu single-down text-left">

                                    <li>
                                        <a class="border-bottom border-left border-right"
                                           href="/service">
                                            <i class="fa fa-home"></i> Home
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="hc-li float-left border-left text-center">
                                <a href="/product">
                                    <i class="fa fa-camera fa-i"></i>PRODUCTS
                                </a>
                                <ul class="nav-submenu single-down text-left">

                                    <li>
                                        <a class="border-bottom border-left border-right"
                                           href="/product">
                                            <i class="fa fa-home"></i> Home
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li class="hc-li float-left border-left border-right text-center">
                                <a href="/gallery">
                                    <i class="fa fa-camera fa-i"></i>GALLERY
                                </a>
                            </li>

                            <li class="hc-li float-left border-left border-right text-center">
                                <a href="/contact">
                                    <i class="fa fa-phone fa-i"></i>CONTACT
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>

    <div class="bottom-dev">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="bottom-list-item bottom-list-item-first">
                        <p><a href=""><i class="fa fa-cart-plus"></i></a></p>

                        <p>Products</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="bottom-list-item">
                        <p><a href=""><i class="fa fa-cloud-download"></i></a></p>

                        <p>Online Store</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="bottom-list-item">
                        <p><a href=""><i class="fa fa-camera-retro"></i></a></p>

                        <p>Photography</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="bottom-list-item">
                        <p><a href=""><i class="fa fa-coffee"></i></a></p>

                        <p>Entertainment</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="bottom-list-item">
                        <p><a href=""><i class="fa fa-align-center"></i></a></p>

                        <p>News</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="bottom-list-item">
                        <p><a href=""><i class="fa fa-graduation-cap"></i></a></p>

                        <p>Education</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer styles-->
    <div class="t_footer">
        <div class="container">

            <div class="row footer_separet">
                <div class="col-sm-12">
                    <h2 class="footer_heading">Ovrosoft Limited</h2>
                </div>
            </div>

            <div class="row segment-1 footer_separet">
                <div class="col-sm-2">
                    <h2>About Ovrosoft</h2>
                    <ul>
                        <li>
                            <a href="/aboutus"><i class="fa fa-link"></i> Star Company Profile</a>
                        </li>
                        <li><a href="/aboutus"><i class="fa fa-link"></i> The way we work</a></li>
                        <li><a href="/aboutus"><i class="fa fa-link"></i> Mission</a></li>
                        <li><a href="/aboutus"><i class="fa fa-link"></i> Vision</a></li>
                        <li><a href="/aboutus"><i class="fa fa-link"></i> Innovation</a></li>
                    </ul>
                </div>

                <div class="col-sm-2">
                    <h2>Services</h2>
                    <ul>
                        <li><a href="/services"><i class="fa fa-link"></i> Web Development</a></li>
                        <li>
                            <a href="/services"><i class="fa fa-link"></i> Software Development</a>
                        </li>
                        <li><a href="/services"><i class="fa fa-link"></i> Geo-location</a></li>
                        <li><a href="/services"><i class="fa fa-link"></i> IT Consulting</a></li>
                    </ul>
                </div>

                <div class="col-sm-2">
                    <h2>Products</h2>
                    <ul>
                        <li>
                            <a href="/products/details/3/school-management-system-sms">
                                <i class="fa fa-link"></i> School Management
                            </a>
                        </li>
                        <li>
                            <a href="/products/details/1/enterprise-resource-planning-erp-solution">
                                <i class="fa fa-link"></i> ERP Solution
                            </a>
                        </li>
                        <li>
                            <a href="/products/details/6/online-accounting-system">
                                <i class="fa fa-link"></i> Accounting System
                            </a>
                        </li>
                        <li>
                            <a href="/products/details/4/point-of-sales-system-pos">
                                <i class="fa fa-link"></i> Point of Sales
                            </a>
                        </li>
                        <li>
                            <a href="/products/details/2/human-resource-management-hrm-system">
                                <i class="fa fa-link"></i> HRM Solution
                            </a>
                        </li>
                        <li>
                            <a href="/products/details/5/electronic-commerce-e-commerce">
                                <i class="fa fa-link"></i> E-commerce
                            </a>
                        </li>
                        <li><a href="/products"><i class="fa fa-link"></i> CRM System</a></li>
                        <li><a href="/software/pharmacy-management-system"><i class="fa fa-link"></i> Pharmacy Management System</a></li>
                    </ul>
                </div>

                <div class="col-sm-2">
                    <h2>Solutions</h2>
                    <ul>

                        <li><a href=""><i class="fa fa-link"></i> IT Infrastructure</a></li>
                        <li><a href=""><i class="fa fa-link"></i> Back-Office Systemg</a></li>
                        <li><a href=""><i class="fa fa-link"></i> Education Publishing </a></li>
                        <li><a href=""><i class="fa fa-link"></i> Legal Services</a></li>
                    </ul>
                </div>

                <div class="col-sm-2">
                    <h2>Company</h2>
                    <ul>
                        <li><a href="/aboutus"><i class="fa fa-link"></i> About Us</a></li>
                        <li><a href="/contact"><i class="fa fa-link"></i> Contact</a></li>
                        <li><a href="/career"><i class="fa fa-link"></i> Careers</a></li>
                        <li><a href="/login"><i class="fa fa-link"></i> Resources</a></li>
                        <li><a href="/login"><i class="fa fa-link"></i> Events</a></li>
                        <li><a href="/login"><i class="fa fa-link"></i> News</a></li>
                        <li><a href="/media"><i class="fa fa-link"></i> Media</a></li>
                    </ul>
                </div>

                <div class="col-sm-2">
                    <h2>Quick Link</h2>
                    <ul>
                        <li><a href="/login"><i class="fa fa-link"></i> Login</a></li>
                        <li><a href="/registration"><i class="fa fa-link"></i> Registration</a></li>
                        <li><a href="/blog"><i class="fa fa-link"></i> Blog</a></li>
                        <li><a href="/"><i class="fa fa-link"></i> Forum</a></li>
                        <li><a href="/login"><i class="fa fa-link"></i> Ovrosoft Platform</a></li>

                    </ul>
                </div>

            </div>

            <div class="row segment-2 footer_separet">
                <div class="col-sm-2">
                    <img src="~/images/logo/ovrosoft.png" class="img-responsive" />
                </div>
                <div class="col-sm-6">
                    <p>
                        Ovrosoft is a leading global provider of IT systems management software. It is the only vendor to
                        provide a complete IT management solution delivered both via cloud and on-premise. Ovrosoft
                        technology empowers MSPs and mid-sized enterprises to proactively manage and control their IT
                        environments remotely, easily and efficiently from a single platform. Ovrosoft solutions are in use
                        by more than 10,000 customers worldwide in a wide variety of industries, including retail,
                        manufacturing, healthcare, education, government, media, technology, finance, and more. Ovrosoft is
                        privately held with a presence in over 20 countries
                    </p>
                </div>

                <div class="col-sm-1"></div>

                <div class="col-sm-3 bottom_contact">
                    <h3>+88 01711-519594</h3>
                    <h3>+88 01710-156437</h3>
                    <h3>Skype : ovrosoft</h3>
                    <h3>Email : info@ovrosoft.com</h3>

                    <p>House # 66, Road-12, DIT Project, Merul Badda. Dhaka-1212, Bangladesh</p>

                    <p class="bottom-social-icon">
                        <a target="_blank" href="https://www.facebook.com/ovrosoft"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="https://plus.google.com/b/106301683634504496142/+Ovrosoft/posts"><i class="fa fa-google-plus"></i></a>
                        <a target="_blank" href="https://twitter.com/Ovrosoft"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/company/ovrosoft-it-solution?trk=company_logo"><i class="fa fa-linkedin"></i></a>
                        <a target="_blank" href="https://www.youtube.com/channel/UCCpCsybKeT-x8ozlCx-rBMA"><i class="fa fa-youtube-play"></i></a>
                    </p>
                </div>


            </div>

            <!--footer reserve-->

            <div class="row">
                <div class="col-md-12 footer-reserve">
                    <p><a href="">Legal</a> &bull; <a href="">Terms</a> &bull; <a href="">Privacy</a> &bull; 2000-<?php echo date("Y");?> Ovrosoft Limited</p>
                    <p>Powered by Ovrosoft</p>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.cslider.js"></script>
    <script src="/js/modernizr_cslider.js"></script>
    <script src="/js/custom.js"></script>

</body>
</html>

