﻿
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="software-product-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="product-sep-title">We are provide <br> best Software Solution for your Company</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="software-product-box">
                    <p><i class="fa fa-university"></i></p>

                    <h3>Online Accounting Software</h3>

                    <p>
                        Be it a software product or a unique solution that you need, Ovrosoft can offer your company
                        end-to-end custom software development services to make your project get off flying. We see into
                        the very core of each client's problem and provide a step-by-step action....
                    </p>

                    <p><a href="/software/accounting-software" class="btn btn-sm btn-default">Read More &raquo;</a></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="software-product-box">
                    <p><i class="fa fa-bar-chart"></i></p>

                    <h3>ERP Solutions</h3>

                    <p>
                        Be it a software product or a unique solution that you need, Ovrosoft can offer your company
                        end-to-end custom software development services to make your project get off flying. We see into
                        the very core of each client's problem and provide a step-by-step action....
                    </p>

                    <p><a href="/software/erp-solution" class="btn btn-sm btn-default">Read More &raquo;</a></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="software-product-box">
                    <p><i class="fa fa-desktop"></i></p>

                    <h3>Desktop Accounting Software</h3>

                    <p>
                        Be it a software product or a unique solution that you need, Ovrosoft can offer your company
                        end-to-end custom software development services to make your project get off flying. We see into
                        the very core of each client's problem and provide a step-by-step action....
                    </p>

                    <p><a href="/software/accounting-software" class="btn btn-sm btn-default">Read More &raquo;</a></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="software-product-box">
                    <p><i class="fa fa-codepen"></i></p>

                    <h3>Real Estate Cost Management</h3>

                    <p>
                        Be it a software product or a unique solution that you need, Ovrosoft can offer your company
                        end-to-end custom software development services to make your project get off flying. We see into
                        the very core of each client's problem and provide a step-by-step action....
                    </p>

                    <p><a href="/software/real-estate-management" class="btn btn-sm btn-default">Read More &raquo;</a></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="software-product-box">
                    <p><i class="fa fa-graduation-cap"></i></p>
                    <h3>School Management System</h3>
                    <p>
                        Be it a software product or a unique solution that you need, Ovrosoft can offer your company
                        end-to-end custom software development services to make your project get off flying. We see into
                        the very core of each client's problem and provide a step-by-step action....
                    </p>
                    <p><a href="/software/school-management-system" class="btn btn-sm btn-default">Read More &raquo;</a></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="software-product-box">
                    <p><i class="fa fa-briefcase"></i></p>
                    <h3>HRM Solutions</h3>
                    <p>
                        Be it a software product or a unique solution that you need, Ovrosoft can offer your company
                        end-to-end custom software development services to make your project get off flying. We see into
                        the very core of each client's problem and provide a step-by-step action....
                    </p>

                    <p><a href="/software/human-resource-management" class="btn btn-sm btn-default">Read More &raquo;</a></p>
                </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <div class="software-product-box">
                    <p><i class="fa fa-tachometer"></i></p>
                    <h3>Point of Sales</h3>
                    <p>
                        Be it a software product or a unique solution that you need, Ovrosoft can offer your company
                        end-to-end custom software development services to make your project get off flying. We see into
                        the very core of each client's problem and provide a step-by-step action....
                    </p>

                    <p><a href="/software/point-of-sales" class="btn btn-sm btn-default">Read More &raquo;</a></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="software-product-box">
                    <p><i class="fa fa-arrows-alt"></i></p>
                    <h3>Pharmacy Management</h3>
                    <p>
                        Be it a software product or a unique solution that you need, Ovrosoft can offer your company
                        end-to-end custom software development services to make your project get off flying. We see into
                        the very core of each client's problem and provide a step-by-step action....
                    </p>

                    <p><a href="/software/pharmacy-management-system" class="btn btn-sm btn-default">Read More &raquo;</a></p>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>

<div class="other-product-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <img src="/images/bg/iPad-showcase.png" alt="" style="width:100%">
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Our another services</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3>Web Development</h3>
                <ul>
                    <li><i class="fa fa-location-arrow"></i> Corporate Websites</li>
                    <li><i class="fa fa-location-arrow"></i> Flash Websites</li>
                    <li><i class="fa fa-location-arrow"></i> E-Commerce Integrations</li>
                    <li><i class="fa fa-location-arrow"></i> Php/MySQL Application</li>
                    <li><i class="fa fa-location-arrow"></i> Content Management System</li>
                    <li><i class="fa fa-location-arrow"></i> Domain Registration</li>
                    <li><i class="fa fa-location-arrow"></i> Web Hosting</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3>Professional Solutions</h3>
                <ul>
                    <li><i class="fa fa-location-arrow"></i> Software Development</li>
                    <li><i class="fa fa-location-arrow"></i> Content Strategy</li>
                    <li><i class="fa fa-location-arrow"></i> Branding Solutions</li>
                    <li><i class="fa fa-location-arrow"></i> Search Engine Optimization</li>
                    <li><i class="fa fa-location-arrow"></i> CMS Development</li>
                    <li><i class="fa fa-location-arrow"></i> Mobile Applications</li>
                    <li><i class="fa fa-location-arrow"></i> Sms Marketing</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3>Professional Solutions</h3>
                <ul>
                    <li><i class="fa fa-location-arrow"></i> Software Development</li>
                    <li><i class="fa fa-location-arrow"></i> Content Strategy</li>
                    <li><i class="fa fa-location-arrow"></i> Branding Solutions</li>
                    <li><i class="fa fa-location-arrow"></i> Search Engine Optimization</li>
                    <li><i class="fa fa-location-arrow"></i> CMS Development</li>
                    <li><i class="fa fa-location-arrow"></i> Mobile Applications</li>
                    <li><i class="fa fa-location-arrow"></i> Sms Marketing</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="website-product-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="product-sep-title">We are provide Website Solutions</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 web-product">
                <div class="row">
                    <div class="col-sm-12"><h3>Search Engine Optimization</h3></div>
                    <div class="col-sm-4">
                        <p class="web-icon-circle"><i class="fa fa-tachometer"></i></p>
                    </div>
                    <div class="col-sm-8">
                        <p>Be it a software product or a unique solution that you need, Ovrosoft can offer your company end-to-end custom software development services to make your </p>
                        <p><a href="" class="btn-sm btn-success">Read More &raquo;</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 web-product">
                <div class="row">
                    <div class="col-sm-12"><h3>Search Engine Optimization</h3></div>
                    <div class="col-sm-4">
                        <p class="web-icon-circle"><i class="fa fa-tachometer"></i></p>
                    </div>
                    <div class="col-sm-8">
                        <p>Be it a software product or a unique solution that you need, Ovrosoft can offer your company end-to-end custom software development services to make your </p>
                        <p><a href="" class="btn-sm btn-success">Read More &raquo;</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 web-product">
                <div class="row">
                    <div class="col-sm-12"><h3>Search Engine Optimization</h3></div>
                    <div class="col-sm-4">
                        <p class="web-icon-circle"><i class="fa fa-tachometer"></i></p>
                    </div>
                    <div class="col-sm-8">
                        <p>Be it a software product or a unique solution that you need, Ovrosoft can offer your company end-to-end custom software development services to make your </p>
                        <p><a href="" class="btn-sm btn-success">Read More &raquo;</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 web-product">
                <div class="row">
                    <div class="col-sm-12"><h3>Search Engine Optimization</h3></div>
                    <div class="col-sm-4">
                        <p class="web-icon-circle"><i class="fa fa-tachometer"></i></p>
                    </div>
                    <div class="col-sm-8">
                        <p>Be it a software product or a unique solution that you need, Ovrosoft can offer your company end-to-end custom software development services to make your </p>
                        <p><a href="" class="btn-sm btn-success">Read More &raquo;</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 web-product">
                <div class="row">
                    <div class="col-sm-12"><h3>Search Engine Optimization</h3></div>
                    <div class="col-sm-4">
                        <p class="web-icon-circle"><i class="fa fa-tachometer"></i></p>
                    </div>
                    <div class="col-sm-8">
                        <p>Be it a software product or a unique solution that you need, Ovrosoft can offer your company end-to-end custom software development services to make your </p>
                        <p><a href="" class="btn-sm btn-success">Read More &raquo;</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 web-product">
                <div class="row">
                    <div class="col-sm-12"><h3>Search Engine Optimization</h3></div>
                    <div class="col-sm-4">
                        <p class="web-icon-circle"><i class="fa fa-tachometer"></i></p>
                    </div>
                    <div class="col-sm-8">
                        <p>Be it a software product or a unique solution that you need, Ovrosoft can offer your company end-to-end custom software development services to make your </p>
                        <p><a href="" class="btn-sm btn-success">Read More &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile-product-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="product-sep-title">We are provide Mobile Software Solutions</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <img src="/images/bg/mobile-tab-order.png" alt="" style="width:100%">
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="mobile-tab-order">
                    <h3>Mobile/Tab Order System</h3>
                    <p>Be it a software product or a unique solution that you need, Ovrosoft can offer your company end-to-end custom software development services to make your, Be it a software product or a unique solution that you need, Fewlink can offer your company end-to-end custom software development services to make your  Be it a software product or a unique solution that you need, Fewlink can offer your company end-to-end custom software development services to make your  Be it a software product or a unique solution that you need, Fewlink can offer your company end-to-end custom software development services to make your  Be it a software product or a unique solution that you need, Fewlink can offer your company end-to-end custom software development services to make your  </p>
                    <p><a href="/order" class="btn btn-sm btn-success">Read More &raquo;</a></p>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>

