﻿
@{
    ViewData["Title"] = "Ecommerce";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="speciality-box">
    <div class="container">
        <h1>E-Commerce Solution</h1>

        <p class="speciality-description">
            Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
            ullamcorper suscipit lobortis nisl ut aliquip.
        </p>

        <div class="row speciality">
            <div class="col-sm-4">
                <p><a href=""><i class="fa fa-money"></i></a></p>

                <h3>Money Back Garanty</h3>

                <p class="description">
                    Consectetuer adipiscing elit, sed diam nonummy nibh. Ut wisi enim ad minim
                    veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.
                </p>
            </div>
            <div class="col-sm-4">
                <p><a href=""><i class="fa fa-globe"></i></a></p>

                <h3>Online Update</h3>

                <p class="description">
                    Consectetuer adipiscing elit, sed diam nonummy nibh. Ut wisi enim ad minim
                    veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.
                </p>
            </div>

            <div class="col-sm-4">
                <p><a href=""><i class="fa fa-mobile-phone"></i></a></p>

                <h3>Multi Device Supported</h3>

                <p class="description">
                    Consectetuer adipiscing elit, sed diam nonummy nibh. Ut wisi enim ad minim
                    veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="iphone-bg">
    <div class="container">
        <div class="iphone">
            <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-7 iphone-details">
                    <h1>Software Development</h1>

                    <p>a beautiful app for you iphone and ipad</p>

                    <div class="row app-store">
                        <div class="col-sm-4">
                            <a rel="external" href="#">
                                <i class="fa fa-play"></i> Download on the
                                <br /> <span>Google Play</span>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a rel="external" href="#">
                                <i class="fa fa-apple"></i> Get it on <br />
                                <span>App Store</span>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a rel="external" href="#">
                                <i class="fa fa-windows"></i> Download on the
                                <br /> <span>Windows Store</span>
                            </a>
                        </div>
                    </div>
                    <p class="more-app">
                        <a href="" class="btn btn-primary btn-lg">
                            <i class="fa fa-exchange"></i> More
                            Software
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="iphone2-box">
    <div class="container">
        <h2 class="iphone2-title">Software Development Cycle</h2>

        <div class="iphone2">
            <div class="row">
                <div class="col-sm-4">

                    <div class="cycle-box">
                        <h2><span>1</span> Software Cycle </h2>

                        <p>Consectetuer adipiscing elit, <br /> sed diam nonummy</p>
                    </div>

                    <div class="cycle-box">
                        <h2><span>3</span> Software Cycle </h2>

                        <p>Consectetuer adipiscing elit, <br /> sed diam nonummy</p>
                    </div>

                    <div class="cycle-box">
                        <h2><span>5</span> Software Cycle </h2>

                        <p>Consectetuer adipiscing elit, <br /> sed diam nonummy</p>
                    </div>

                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">

                    <div class="cycle-box cycle-box-right">
                        <h2><span>2</span> Software Cycle </h2>

                        <p>Consectetuer adipiscing elit, <br /> sed diam nonummy</p>
                    </div>

                    <div class="cycle-box cycle-box-right">
                        <h2><span>4</span> Software Cycle </h2>

                        <p>Consectetuer adipiscing elit, <br /> sed diam nonummy</p>
                    </div>

                    <div class="cycle-box cycle-box-right">
                        <h2><span>6</span> Software Cycle </h2>

                        <p>Consectetuer adipiscing elit, <br /> sed diam nonummy</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

