@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* 4. Global Style
--------------------*/
.full-border {
    border: 1px solid #dddddd;
}

.border-top-zero {
    border-top: 0 solid transparent;
}

.border-right-zero {
    border-right: 0 solid transparent;
}

.border-bottom-zero {
    border-bottom: 0 solid transparent !important;
}

.border-left-zero {
    border-left: 0 solid transparent;
}

.border-top {
    border-top: 1px solid #dddddd;
}

.border-right {
    border-right: 1px solid #dddddd;
}

.border-left {
    border-left: 1px solid #dddddd;
}

.border-bottom {
    border-bottom: 1px solid #dddddd;
}

.padding-zero {
    padding: 0;
}

.margin-zero {
    margin: 0;
}

.padding-left-zero {
    padding-left: 0;
}

.padding-right-zero {
    padding-right: 0;
}

.bg-white {
    background: #ffffff;
}

/*------------------------------------*\
    5. Catnav Mega Menu
\*------------------------------------*/
.a2z {
  background-color: #0089d0;
  margin:0 !important;
}

.a2z-mega-menu {
    position: relative;
}

.nav-list {
    text-align: left;
    padding: 0;
    margin: 0;
}

.hc-li {
    position: relative;
    width: 12.2%;
    display: inline-block;
}

.hc-li > a {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 15px 0;
    position: relative;
    text-decoration: none;
    transition: all 0.4s ease 0s;
}

.hc-li > a:hover,
.hc-li > a:focus,
.hc-li > a.active {
    background: #333;
    color: #ffffff;
}

.float-left {
    float: left;
}

.fa-i {
    margin-right: 10px;
}

.right-icon {
    font-size: 18px;
    position: absolute;
    right: 15px;
}

.mega-menu {
    position: static;
}

.heading-h3 {
    background: #4d565d;
    color: #ffffff;
    font-size: 16px;
    margin: 0;
    padding: 10px 30px;
}

.responsive-title {
    left: 15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 89%;
    display: none;
    font-size: 21px;
    letter-spacing: 1px;
    padding: 10px;
    color: #FFFFFF;
}

.nav-submenu {
    margin: 0;
    padding: 0;
}

.nav-submenu li {
    list-style: none;
}

.nav-submenu li a {
    text-decoration: none;
}

/* Mobile navigation */
.nav-mobile i {
    cursor: pointer;
    display: none;
    font-size: 25px;
    padding: 5px;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    top: 0;
}

/* Mobile navigation, clickable area for revealing <ul> */
.nav-click {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    border-left: 1px solid #dddddd;
    z-index: 9999;
    background: #ffffff;
    cursor: pointer;
}

.nav-click i {
    color: #1d1d1d;
    display: block;
    font-size: 30px;
    padding: 10px 19px;
    transition: all 0.4s ease 0s;
}

.nav-rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg) !important;
}

/*5. Short Codes
====================*/
/*5.1  Single
-----------------*/
.single-down {
    width: 230px;
    display: none;
    margin-left: -1px;
    /*border-top: 2px solid #dddddd;*/
    z-index: 999;
    position: absolute;
}

.single-down a {
    padding: 15px;
    display: inline-block;
    width: 100%;
    background: #ffffff;
    color: #2a2f33;
}

.single-down a:hover,
.single-down a:focus,
.single-down a.active {
    background: #333333;
    color: #ffffff;
}

.hc-li:hover .single-down {
    display: block;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1.25s;
    animation-name: fadeIn;
    animation-duration: 1.25s;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

/*5.2  Drop Down
=================*/
.drop-down {
    width: 225px;
    display: none;
    /*border-top: 2px solid #dddddd;*/
    background: #2a2f33;
    z-index: 2;
    position: absolute;
}

.drop-down li {
    position: relative;
    width: 100%;
}

.drop-down li:hover .drop-down-one,
.drop-down li:focus .drop-down-one,
.drop-down li.active .drop-down-one {
    display: block;
}

.drop-down li a {
    padding: 15px;
    display: inline-block;
    width: 100%;
    background: #ffffff;
    color: #2a2f33;
}

.drop-down li a:hover,
.drop-down li a:focus,
.drop-down li a.active {
    background: #4d565d;
    color: #ffffff;
}

.drop-down-one {
    display: none;
    left: 224px;
    position: absolute;
    top: 0;
    width: 200px;
    background: #2a2f33;
    z-index: 2;
}

.drop-down-one li {
    position: relative;
    width: 100%;
}

.drop-down-one li:hover .drop-down-two,
.drop-down-one li:focus .drop-down-two,
.drop-down-one li.active .drop-down-two {
    display: block;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1.25s;
    animation-name: fadeIn;
    animation-duration: 1.25s;
}

.drop-down-one li a {
    padding: 15px;
    display: inline-block;
    width: 100%;
    background: #ffffff;
    color: #2a2f33;
}

.drop-down-one li a:hover,
.drop-down-one li a:focus,
.drop-down-one li a.active {
    background: #4d565d;
    color: #ffffff;
}

.drop-down-two {
    display: none;
    left: 199px;
    position: absolute;
    top: 0;
    width: 200px;
    background: #ffffff;
}

.drop-down-two a {
    padding: 15px;
    display: inline-block;
    width: 100%;
    background: #ffffff;
    color: #2a2f33;
}

.drop-down-two a:hover,
.drop-down-two a:focus,
.drop-down-two a.active {
    background: #4d565d;
    color: #ffffff;
}

.hc-li:hover .drop-down {
    display: block;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1.25s;
    animation-name: fadeIn;
    animation-duration: 1.25s;
}

/*5.3  Tab
-----------------*/
.a2z-mega-wrapper {
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
    display: none;
    border: 1px solid #ddd;
    border-top: none;
    /*border-top: 2px solid #dddddd;*/
    z-index: 2;
}

.submenu-lists {
    background: #4d565d;
    padding-bottom: 0;
}

.nav .list a {
    background: #ffffff;
    border-color: #dddddd;
    border-radius: 0;
    border-style: solid;
    border-width: 0 1px 1px 0;
    color: #2a2f33;
    display: block;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 12px;
    padding-left: 30px;
    padding-top: 12px;
    width: 100%;
}

.nav .list a:hover,
.nav .list a:focus,
.nav .list a.active {
    background: rgba(255, 255, 255, 0.06);
    border-color: rgba(255, 255, 255, 0.06);
    border-style: solid;
    border-width: 0 1px 1px;
    color: #ffffff;
}

.menu-post {
    float: left;
    padding: 30px 0 10px 30px;
    width: 100%;
}

.menu-post .post h3 {
    color: #2a2f33;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    padding: 15px 0;
}

.menu-post .post h3 a {
    display: block;
    color: #2a2f33;
    text-transform: uppercase;
}

.a2z-tab-content {
    margin-right: 30px;
}

.hc-li:hover .a2z-mega-wrapper {
    display: block;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1.25s;
    animation-name: fadeIn;
    animation-duration: 1.25s;
}


@media only screen and (min-width: 240px) and (max-width: 768px) {
    .nav-mobile i {
        display: block;
        padding: 10px 9.7px;
    }

    .a2z-mega-menu {
        width: 100%;
        padding: 50px 0 0;
    }

    .nav-list {
        display: none;
    }

    .hc-li {
        width: 100%;
        float: none;
        text-align: left;
        position: relative;
        background: #ffffff;
        border-right: 0;
        /*border-bottom: 0;*/
        border-bottom: 1px solid #ddd;
    }


    .hc-li > a {
        padding: 15px;
        color: #444;
        font-weight: 400;
        font-size: 13px;
    }

    .nav-click {
        display: block;
    }

    .nav-mobile-open {
        border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
    }

    .single-down {
        border-top: 1px solid #dddddd;
    }

    .single-down,
    .drop-down,
    .drop-down-one,
    .drop-down-two {
        width: 100%;
        position: static;
    }

    .a2z-mega-wrapper {
        position: static;
    }

    .hc-li:hover .single-down,
    .hc-li:hover .drop-down,
    .hc-li:hover .a2z-mega-wrapper {
        display: none;
        width: 100%;
        animation-duration: 0s;
    }

    .drop-down li:hover .drop-down-one,
    .drop-down li:focus .drop-down-one,
    .drop-down li.active .drop-down-one {
        display: none;
    }

    .drop-down-one li:hover .drop-down-two,
    .drop-down-one li:focus .drop-down-two,
    .drop-down-one li.active .drop-down-two {
        display: none;
    }

    .right-icon {
        display: none;
    }

    .post {
        text-align: center;
    }

    .post img {
        display: table-cell;
    }

    .responsive-title {
        display: block;
    }
}


/*empty*/
@-webkit-keyframes empty {
    0% {
        opacity: 1
    }
}

@-moz-keyframes empty {
    0% {
        opacity: 1
    }
}

@keyframes empty {
    0% {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes backSlideOut {
    25% {
        opacity: .5;
        -webkit-transform: translateZ(-500px);
    }
    75% {
        opacity: .5;
        -webkit-transform: translateZ(-500px) translateX(-200%);
    }
    100% {
        opacity: .5;
        -webkit-transform: translateZ(-500px) translateX(-200%);
    }
}

@-moz-keyframes backSlideOut {
    25% {
        opacity: .5;
        -moz-transform: translateZ(-500px);
    }
    75% {
        opacity: .5;
        -moz-transform: translateZ(-500px) translateX(-200%);
    }
    100% {
        opacity: .5;
        -moz-transform: translateZ(-500px) translateX(-200%);
    }
}

@keyframes backSlideOut {
    25% {
        opacity: .5;
        transform: translateZ(-500px);
    }
    75% {
        opacity: .5;
        transform: translateZ(-500px) translateX(-200%);
    }
    100% {
        opacity: .5;
        transform: translateZ(-500px) translateX(-200%);
    }
}

@-webkit-keyframes backSlideIn {
    0%, 25% {
        opacity: .5;
        -webkit-transform: translateZ(-500px) translateX(200%);
    }
    75% {
        opacity: .5;
        -webkit-transform: translateZ(-500px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0) translateX(0);
    }
}

@-moz-keyframes backSlideIn {
    0%, 25% {
        opacity: .5;
        -moz-transform: translateZ(-500px) translateX(200%);
    }
    75% {
        opacity: .5;
        -moz-transform: translateZ(-500px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateZ(0) translateX(0);
    }
}

@keyframes backSlideIn {
    0%, 25% {
        opacity: .5;
        transform: translateZ(-500px) translateX(200%);
    }
    75% {
        opacity: .5;
        transform: translateZ(-500px);
    }
    100% {
        opacity: 1;
        transform: translateZ(0) translateX(0);
    }
}

@-webkit-keyframes scaleToFade {
    to {
        opacity: 0;
        -webkit-transform: scale(.8);
    }
}

@-moz-keyframes scaleToFade {
    to {
        opacity: 0;
        -moz-transform: scale(.8);
    }
}

@keyframes scaleToFade {
    to {
        opacity: 0;
        transform: scale(.8);
    }
}

@-webkit-keyframes goDown {
    from {
        -webkit-transform: translateY(-100%);
    }
}

@-moz-keyframes goDown {
    from {
        -moz-transform: translateY(-100%);
    }
}

@keyframes goDown {
    from {
        transform: translateY(-100%);
    }
}

@-webkit-keyframes scaleUpFrom {
    from {
        opacity: 0;
        -webkit-transform: scale(1.5);
    }
}

@-moz-keyframes scaleUpFrom {
    from {
        opacity: 0;
        -moz-transform: scale(1.5);
    }
}

@keyframes scaleUpFrom {
    from {
        opacity: 0;
        transform: scale(1.5);
    }
}

@-webkit-keyframes scaleUpTo {
    to {
        opacity: 0;
        -webkit-transform: scale(1.5);
    }
}

@-moz-keyframes scaleUpTo {
    to {
        opacity: 0;
        -moz-transform: scale(1.5);
    }
}

@keyframes scaleUpTo {
    to {
        opacity: 0;
        transform: scale(1.5);
    }
}

/*custom style*/
.feature-list {
    font-size: 13px;
    margin-top: 10px
}

.feature-explore {
    margin: 25px 10%;
}

.feature-explore a {
    text-decoration: none;
    width: 100%;
    float: left;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #555;
    font-weight: bold;
    border: 1px solid #41af4b
}

.feature-explore a:hover {
    background-color: #41af4b;
    color: #fff
}